.like-button
{
    width: 25px;
    height: 25px;
    position: relative;
    &:hover
    {
        .far.fa-heart
        {
            opacity: 0;
            &+.fas.fa-heart
            {
                opacity: 1;
            }
        }
    }
    .far.fa-heart
    {
        color: black;
        font-size: 1.5em;
        position: absolute;
        top: 0;
        left: 0;
    }
    .fas.fa-heart
    {
        color: #FF79DA;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 1500ms;
        font-size: 1.5em;
    }
}