.meal
{
    color: black;
	text-decoration: none;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0px 0px 25px -8px #000000;
	margin: 7px 0;
	height: 82px;
	width: 100%;
	&__link
    {
		height: 100%;
		width: 100%;
		display: flex;
		flex-shrink: 1;
		flex-grow: 0;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		&:hover
		{
			.meal__infos
			{
				width: calc(100% - 80px);
			}
			.meal__check
			{
				width: 80px;
				.fas.fa-check-circle
				{
					transform: rotate(0deg);
				}
			}

		}
		.meal__infos
		{
			padding: 10px 12px 10px 12px;
			height: 100%;
			width: 100%;
			display: flex;
			flex-shrink: 1;
			flex-grow: 1;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			h3
			{
				text-overflow: ellipsis;
				white-space: nowrap;
				display: block;
				overflow: hidden;
				flex-shrink: 1;
				margin: 0;
				line-height: 30px;
				height: 30px;
				width: 100%;
			}
			&__details
			{
				height: 30px;
				width: 100%;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				&__ingredients
				{
					text-overflow: ellipsis;
					white-space: nowrap;
					display: block;
					overflow: hidden;
					margin: 0;
					height: 30px;
					line-height: 30px;
				}
				&__price
				{
					font-weight: bold;
					line-height: 30px;
					height: 30px;
					margin: 0;
					padding: 0 10px;
				}
			}
		}
		.meal__check
		{
			background: #99E2D0;
			height: 100%;
			width: 0;
			transition: width 350ms ease-in-out;
			display: flex;
			flex-shrink: 0;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			i
			{
				color: white;
				transform: rotate(90deg);
				transition: transform 350ms;
			}
		}	
    }
}