#order_now
{
    background-image: linear-gradient(to top left, #9356DC, #FF79DA);
    color: white;
    opacity: 1;
    font-size: 1.1em;
    font-style: normal;
    text-decoration: none;
    border-radius: 100px;
    border: none;
    box-shadow: 0px 10px 15px #cfcfcf;
    animation: meals-entrance 1000ms 3650ms backwards;
    transform: scale(1);
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin: 40px 0 70px 0;
    padding: 5px;
    height: 60px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 250ms;
    &:hover
    {
       opacity: 0.85;
       box-shadow: 0px 10px 15px #8b8a8a;
       &:active
        {
            transform: scale(0.98); // à l'extérieur de hover, différence ?
        }
    }
    
    /*&::after
    {  
        content: "";
        background-image: linear-gradient(to top left, #bf98ef, #fba4e2);
        opacity: 0;
        transition: opacity 300ms;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    */
    @media screen and (min-width: 900px)
    {
        width: 25%;
    }
    @media screen and (min-width: 1100px)
    {
        width: 20%;
    }
}
