.phase
{
    display: flex;
	flex-direction: column;
	width: 100%;
	height: 82px;
	margin: 15px 0;
	&__link
	{
		text-decoration: none;
		border-radius: 28px;
		overflow: hidden;
		box-shadow: 0px 0px 25px -8px #000000;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		&:hover
		{
			background-color: #f5edff;
			.phase__link__icon
			{
				color: #9356DC;
			}
		}
		&__step
		{
			color: white;
			background-color: #9356DC;
			font-size: 1em;
			text-align: center;
			border-radius: 100%;
			padding: 4px;
			margin-left: -12px;
			height: 25px;
			width: 25px;
			position: absolute;
			z-index: +1;
		}
		&__icon
		{
			color: #7e7e7e;
			font-size: 1.4em;
			text-align: center;
			margin-left: 25px;
			width: 30px;
		}
		&__text
		{
			color: black;
			font-size: 1em;
			font-weight: bold;
			text-decoration: none;
			margin-left: 30px;
		}
	}
}