@font-face
{
	font-family: 'Roboto';
    src: url('../roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face
{
    font-family: 'Roboto' ;
    src: url('../roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
}
@font-face
{
	font-family: 'Shirkhand-Regular';
	src: url('../shirkhand-regular/Shirkhand-Regular.otf') format('opentype');
}
*
{
	font-family: Roboto, sans-serif;
}
